@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background);
    outline: none;    
}
:root{
    --main-bg: #ecf0f3;
    --primary-background: #ecf0f3;
    --operation-button : darkcyan ;
    --hover-color : rgba(0, 139, 139, 0.355);
    --shadow-one : #ffffff;
    --shadow-two : rgba(0, 0, 0, 0.16);
    --input-color: rgb(70, 70, 70);
    --txt-color: black;
    --blend: darken;
}
.dark{
    --main-bg: rgb(57, 56, 56);
    --primary-background: rgba(39, 39, 39, 0.636);
    --operation-button : darkcyan ;
    --hover-color :  rgba(0, 139, 139, 0.84);
    --shadow-one : rgba(0, 139, 139, 0.355);
    --shadow-two : rgba(0, 0, 0, 0.16);
    --input-color: white;
    --txt-color: white;
    --blend:none;
}

.container{
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: var(--primary-background);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px var(--shadow-one),
                      5px 5px 12px var(--shadow-two);
    display: grid;
    grid-template-columns: repeat(4, 85px);
}
button:hover{
    transform: scale(1.3);
    background-color: var(--hover-color);
    color: var(--txt-color); 
}
/* #icon{
    transform: scale(1.3);
    background-color: var(--hover-color);
    color: var(--shadow-one); 
} */
input{
    grid-column: span 4;
    height: 90px;
    width: 325px;
    background-color: var(--primary-background);
    box-shadow: inset -5px -5px 12px var(--shadow-one),
                inset  5px 5px 12px var(--shadow-two);
    border: none;
    border-radius: 30px;
    color: var(--input-color);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
#iconButton{
    padding-top: 8px;
}
#icon{
    width: 30px;
    mix-blend-mode:var(--blend);
    background: transparent;
}
button{
    cursor:pointer;
    height: 55px;
    width: 55px;
    background-color: var(--primary-background);
    box-shadow: -5px -5px 12px var(--shadow-one),
                 5px 5px 12px var(--shadow-two);
    border: none;
    border-radius: 50%;
    margin: 15px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    color: var(--txt-color) ;
}
.operator{
    color: var(--operation-button);
}
.equal{
    /* width: 140px; */
    border-radius: 50px;
    background-color: var(--hover-color);
}